<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.301069411274-5r7dbbvnlnbfqn5sk85fi6vgmkicebko</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>301069411274-5r7dbbvnlnbfqn5sk85fi6vgmkicebko.apps.googleusercontent.com</string>
</dict>
</plist>
