<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmAA2bZxwSCZ_T7wcPKqcBPwPTeJIVsm8</string>
	<key>GCM_SENDER_ID</key>
	<string>301069411274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kairatovalmat.Fouxd-Training</string>
	<key>PROJECT_ID</key>
	<string>fouxd-training</string>
	<key>STORAGE_BUCKET</key>
	<string>fouxd-training.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301069411274:ios:00eb3d4c8a32c5ecbb6533</string>
</dict>
</plist>